.jumbotron {
    background-image: url(../images/holidayBanner.jpg);
    text-align: center;
    color: #f15c2f;
}

img {
    height: 50px;
    width: 50px;
}

.btn {
    background-color: #f15c2f;
    border-color: #f15c2f; 

}

.btn:hover {
    background-color: #0055a0;
    border-color: #0055a0;
}
